.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

*.obj
*.exe
*.dll
*.pdb
*.idb
*.ilk
*.log
*.tlog
*.lastbuildstate
*.cache
*.pch

*.lst
*.map
*.exp
*.lib

*.tmp
*.bak
*.ncb
*.opendb
*.ipch

*.old
*.orig

Debug/
Release/
x64/
x86/
bin/
obj/
